.box{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.boxes_3{
    background-color: aqua;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}